
<!DOCTYPE html>


<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" data-assets-path="../../admin/assets/" data-template="vertical-menu-template" data-style="light">

  
<!-- Mirrored from demos.themeselection.com/Redolence-bootstrap-html-admin-template/html/vertical-menu-template/app-academy-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Jun 2024 05:50:16 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Academy - Dashboard - App | Redolence - Bootstrap Material Design Admin Template</title>

    
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/Redolence-bootstrap-html-admin-template/">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/Redolence-bootstrap-html-admin-template/admin/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;ampdisplay=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="../../admin/assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/fonts/flag-icons.css" />
    
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../admin/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../admin/assets/css/demo.css" />
    
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/typeahead-js/typeahead.css" /> 
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link rel="stylesheet" href="../../admin/assets/vendor/libs/apex-charts/apex-charts.css" />
<link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css">

    <!-- Page CSS -->
    

    <!-- Helpers -->
    <script src="../../admin/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../admin/assets/js/config.js"></script>
    
</head>

<body>


  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">
<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
      <li class="menu-item active open">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
          <div data-i18n="REDOLANCE">REDOLANCE</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="/admin/dashboard" class="menu-link">
              <div data-i18n="Dashboard">Dashboard</div>
            </a>
          </li>
          <li class="menu-item active">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Products">Products</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="/admin/productList" class="menu-link active">
                  <div data-i18n="Product List">Product List</div>
                </a>
              </li>
              <li class="menu-item active">
                <a href="/admin/addProduct" class="menu-link">
                  <div data-i18n="Add Product">Add Product</div>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Category">Category</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="/admin/category" class="menu-link">
                  <div data-i18n="List all category">List all category</div>
                </a>
              </li>
            </ul>
          </li>    
          <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <div data-i18n="Users">Users</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item">
                <a href="/admin/userList" class="menu-link">
                  <div data-i18n="Users list">Users list</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </aside>

<div class="layout-page window-scrolled">
  <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <ul class="navbar-nav flex-row align-items-center ms-auto">

              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                      <div class="avatar avatar-online">
                          <img src="/dashboard-assets/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                      </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                      <li>
                          <a class="dropdown-item waves-effect" href="pages-account-settings-account.html">
                              <div class="d-flex align-items-center">
                                  <div class="flex-shrink-0 me-2">
                                      <div class="avatar avatar-online">
                                          <img src="/dashboard-assets/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                                      </div>
                                  </div>
                                  <div class="flex-grow-1">
                                      <!-- <h6 class="mb-0 small">John Doe</h6> -->
                                      <small class="text-muted">Admin</small>

                                  </div>
                              </div>
                          </a>
                      </li>
                      <li>
                          <div class="dropdown-divider"></div>
                      </li>
                      <li>
                          <a class="dropdown-item waves-effect" href="pages-profile-user.html">
                              <i class="ri-user-3-line ri-22px me-2"></i>
                              <span class="align-middle">My Profile</span>
                          </a>
                      </li>
                      <li>
                          <div class="d-grid px-4 pt-2 pb-1">
                              <a class="btn btn-danger d-flex waves-effect waves-light" href="/admin/logout" target="_blank">
                                  <small class="align-middle">Logout</small>
                                  <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                              </a>
                          </div>
                      </li>
                  </ul>
              </li>
              <!--/ User -->
          </ul>
      </div>
  </nav>
  <!-- / Navbar -->
  <!-- Content wrapper -->
  <div class="content-wrapper">


      <!-- Content -->
      <form id="addProductForm" enctype="multipart/form-data">
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="app-ecommerce">
    
                <!-- Add Product -->
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 gap-4 gap-md-0">
                    <div class="d-flex flex-column justify-content-center">
                        <h4 class="mb-1">Add a new Product</h4>
                        <p class="mb-0">Orders placed across your store</p>
                    </div>
                    <div class="d-flex align-content-center flex-wrap gap-4">
                        <button type="submit" class="btn btn-primary waves-effect waves-light" fdprocessedid="p55uf6">Publish product</button>
                    </div>
                </div>
                <div class="row">
                    <!-- First column (Product Information + Pricing) -->
                    <div class="col-12 col-lg-8">
                        <!-- Product Information -->
                        <div class="card mb-6">
                            <div class="card-header">
                                <h5 class="card-tile mb-0">Product information</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-floating form-floating-outline mb-5">
                                    <div class="formgroup1">
                                        <label for="ecommerce-product-name" class="errMsgSignup">Product Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Product title" name="productTitle" aria-label="Product title" fdprocessedid="vittgi">
                                    </div>
                                </div>
                                <div class="form-control p-0 pt-1 comment-editor border-0 pb-1 ql-container ql-snow" id="ecommerce-category-description">
                                    <div class="formgroup1">
                                        <label for="ecommerce-product-description" class="mb-1 errMsgSignup">Description</label>
                                        <input type="text" class="form-control" id="description" placeholder="Description" name="ProductDescription" aria-label="Product title" fdprocessedid="6kskn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Second column (Pricing) -->
                    <div class="col-12 col-lg-4">
                        <!-- Pricing Card -->
                        <div class="card mb-6">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Pricing</h5>
                            </div>
                            <div class="card-body">
                                <!-- Base Price -->
                                <div class="form-floating form-floating-outline mb-5 formgroup1">
                                    <input type="number" class="form-control" id="price" placeholder="Price" name="productPrice" aria-label="Product price" fdprocessedid="xq4msl">
                                    <label for="ecommerce-product-price" class="errMsgSignup">Price</label>
                                </div>
    
                                <!-- Discounted Price -->
                                <div class="form-floating form-floating-outline mb-5 formgroup1">
                                    <input type="number" class="form-control" id="productCount" placeholder="Product Count" name="productCount" aria-label="Product Count" fdprocessedid="qzxpex">
                                    <label for="productCount" class="errMsgSignup">Product Count</label>
                                </div>
                                <div class="form-floating form-floating-outline form-floating-select2 pb-3">
                                    <div class="position-relative">
                                        <label for="ecommerce-category" class="errMsgSignup">Select Category</label>
                                        <select name="categorySelection" id="category" class="select2 form-select select2-hidden-accessible" data-placeholder="Select category status" data-select2-id="ecommerce-category" tabindex="-1" aria-hidden="true">
                                            <% for(let i = 0; i < allCategory.length; i++) { %>
                                                <option value="<%= allCategory[i].name %>" data-select2-id="4"><%= allCategory[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Images Section (Full Width) -->
                <div class="card mb-6">
                    <div class="card-header">
                        <h5 class="mb-0 card-title">Product Images</h5>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <style>
                                .image-upload-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border: 2px dashed #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.image-upload-input {
    display: none;
}

.image-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
}

.upload-placeholder {
    text-align: center;
}

.img-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    display: none;
}

.img-preview.active {
    display: block;
}

.image-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    padding: 8px;
    display: none;
}

.image-upload-container:hover .image-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

                            </style>
    
                            <div class="col-md-4">
                                <div class="image-upload-container">
                                    <input type="file" class="image-upload-input" id="productImage1" name="productImage" accept="image/*" onchange="previewImage(this, 'imagePreview1', 1)">
                                    <label for="productImage1" class="image-upload-label">
                                        <div class="upload-placeholder">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <span>Click or drag image here</span>
                                        </div>
                                        <img id="imagePreview1" src="#" alt="Preview" class="img-preview">
                                    </label>
                                    <div class="image-actions" id="actions1"></div>
                                </div>
                                <input type="hidden" id="diii1">
                                <button type="button" class="btn btn-primary mt-2 w-100" onclick="openCropper(1)">Crop Image</button>
                            </div>
    
                            <div class="col-md-4">
                                <div class="image-upload-container">
                                    <input type="file" class="image-upload-input" id="productImage2" name="productImage" accept="image/*" onchange="previewImage(this, 'imagePreview2', 2)">
                                    <label for="productImage2" class="image-upload-label">
                                        <div class="upload-placeholder">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <span>Click or drag image here</span>
                                        </div>
                                        <img id="imagePreview2" src="#" alt="Preview" class="img-preview">
                                    </label>
                                    <div class="image-actions" id="actions2"></div>
                                </div>
                                <input type="hidden" id="diii2">
                                <button type="button" class="btn btn-primary mt-2 w-100" onclick="openCropper(2)">Crop Image</button>
                            </div>
    
                            <div class="col-md-4">
                                <div class="image-upload-container">
                                    <input type="file" class="image-upload-input" id="productImage3" name="productImage" accept="image/*" onchange="previewImage(this, 'imagePreview3', 3)">
                                    <label for="productImage3" class="image-upload-label">
                                        <div class="upload-placeholder">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <span>Click or drag image here</span>
                                        </div>
                                        <img id="imagePreview3" src="#" alt="Preview" class="img-preview">
                                    </label>
                                    <div class="image-actions" id="actions3"></div>
                                </div>
                                <input type="hidden" id="diii3">
                                <button type="button" class="btn btn-primary mt-2 w-100" onclick="openCropper(3)">Crop Image</button>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </form>
    



  <!-- Image Crop Modal -->
<div id="cropModal" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crop Image</h5>
                <button type="button" class="close" onclick="closeCropper()">×</button>
            </div>
            <div class="modal-body">
                <div class="crop-container">
                    <img id="cropImage" src="" alt="Image to Crop">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeCropper()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="applyCrop()">Apply</button>
            </div>
        </div>
    </div>
</div>


<script>
    let cropper;
    let currentCropField;

    // Validate and Preview Image
    function previewImage(input, previewId, fieldId) {
        const file = input.files[0];
        if (!file) return;

        // Validate file type
        if (!['image/jpeg', 'image/png', 'image/gif', 'image/webp'].includes(file.type)) {
            Swal.fire({
                icon: 'error',
                title: 'Invalid File Type',
                text: 'Please upload an image file (jpg, png, gif, webp).',
            });
            input.value = '';
            return;
        }

        // Validate file size (limit to 2MB)
        if (file.size > 2 * 1024 * 1024) {
            Swal.fire({
                icon: 'error',
                title: 'File Too Large',
                text: 'Please upload an image smaller than 2MB.',
            });
            input.value = '';
            return;
        }

        // Show preview
        const reader = new FileReader();
        reader.onload = (e) => {
            document.getElementById(previewId).src = e.target.result;
            document.getElementById(previewId).style.display = 'block';
        };
        reader.readAsDataURL(file);

        // Assign the field ID for cropping
        currentCropField = fieldId;
    }

    // Open Cropper Modal
    function openCropper(fieldId) {
        const preview = document.getElementById(`imagePreview${fieldId}`);
        if (!preview.src || preview.src === '#') {
            Swal.fire({
                icon: 'warning',
                title: 'No Image Selected',
                text: 'Please upload an image first.',
            });
            return;
        }

        // Show modal and initialize cropper
        const modal = document.getElementById('cropModal');
        modal.style.display = 'block';

        const cropImage = document.getElementById('cropImage');
        cropImage.src = preview.src;

        cropper = new Cropper(cropImage, {
            aspectRatio: 1, // Customize aspect ratio if needed
            viewMode: 1,
            dragMode: 'move',
        });
    }

    // Apply Crop
    function applyCrop() {
        const croppedCanvas = cropper.getCroppedCanvas();
        const croppedImage = croppedCanvas.toDataURL('image/jpeg');

        // Set the cropped image to preview and store it in a hidden input
        const preview = document.getElementById(`imagePreview${currentCropField}`);
        preview.src = croppedImage;

        const hiddenInput = document.getElementById(`diii${currentCropField}`);
        hiddenInput.value = croppedImage;

        closeCropper();
    }

    // Close Cropper Modal
    function closeCropper() {
        const modal = document.getElementById('cropModal');
        modal.style.display = 'none';

        if (cropper) {
            cropper.destroy();
            cropper = null;
        }
    }

    // Handle Form Submission with Validation
    const form = document.getElementById('addProductForm');
    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        const product = {
            name: document.getElementById('name').value.trim(),
            description: document.getElementById('description').value.trim(),
            price: document.getElementById('price').value.trim(),
            productCount: document.getElementById('productCount').value.trim(),
            category: document.getElementById('category').value.trim(),
        };

        const images = [
            document.getElementById('diii1').value,
            document.getElementById('diii2').value,
            document.getElementById('diii3').value,
        ];

        // Validate required fields
        if (!product.name || !product.description || !product.price || !product.productCount || !product.category) {
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: 'Please fill in all the required fields.',
            });
            return;
        }

        // Validate all images
        if (images.some((img) => !img)) {
            Swal.fire({
                icon: 'error',
                title: 'Image Validation Error',
                text: 'Please upload and crop all 3 images.',
            });
            return;
        }

        // Prepare FormData
        const formData = new FormData();
        formData.append('name', product.name);
        formData.append('description', product.description);
        formData.append('price', product.price);
        formData.append('productCount', product.productCount);
        formData.append('category', product.category);

        // Convert base64 to Blob and append
        images.forEach((img, index) => {
            const blob = dataURItoBlob(img);
            formData.append('productImage', blob, `productImage${index + 1}.jpeg`);
        });

        // Submit form data
        const result = await fetch('/admin/addProduct', {
            method: 'POST',
            body: formData,
        }).then((response) => response.json());

        if (result.success) {
            Swal.fire({
                icon: 'success',
                title: 'Product Added',
                text: 'The product has been successfully added.',
            }).then(() => location.reload());
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error Adding Product',
                text: result.message || 'An unexpected error occurred.',
            });
        }
    });

    // Helper: Convert Base64 to Blob
    function dataURItoBlob(dataURI) {
        const byteString = atob(dataURI.split(',')[1]);
        const mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        const ab = new ArrayBuffer(byteString.length);
        const ia = new Uint8Array(ab);
        for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ab], { type: mimeString });
    }
</script>



      <!-- / Layout page -->
  </div>
  
  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>


  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
  

  <!-- Core JS -->
  <!-- build:js/admin assets/vendor/js/core.js -->
  <script src="../../admin/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../../admin/assets/vendor/libs/popper/popper.js"></script>
  <script src="../../admin/assets/vendor/js/bootstrap.js"></script>
  <script src="../../admin/assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="../../admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="../../admin/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="../../admin/assets/vendor/libs/i18n/i18n.js"></script>
  <script src="../../admin/assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="../../admin/assets/vendor/js/menu.js"></script>
  
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="../../admin/assets/vendor/libs/moment/moment.js"></script>
<script src="../../admin/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="../../admin/assets/vendor/libs/apex-charts/apexcharts.js"></script>

  <!-- Main JS -->
  <script src="../../admin/assets/js/main.js"></script>
  

  <!-- Page JS -->
  <script src="../../admin/assets/js/app-academy-dashboard.js"></script>
  
</body>


</html>