<!DOCTYPE html>
<!-- =========================================================
* Redolence - Bootstrap Material Design Admin Template | v2.0.1
==============================================================

* Product Page: https://themeselection.com/item/Redolance-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

===============================================---======-->

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="../../admin/assets/" data-template="vertical-menu-template" data-style="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Order List - Pages | Redolance - Bootstrap Material Design Admin Template</title>
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <link rel="canonical" href="https://themeselection.com/item/Redolance-bootstrap-html-admin-template/" />
    <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/Redolence-bootstrap-html-admin-template/admin/assets/img/favicon/favicon.ico" />
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="../../admin/assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/fonts/flag-icons.css" />
    
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../admin/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../../admin/assets/css/demo.css" />
    
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/typeahead-js/typeahead.css" /> 
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../../admin/assets/vendor/libs/%40form-validation/form-validation.css" />
    
    <!-- Helpers -->
    <script src="../../admin/assets/vendor/js/helpers.js"></script>
    <script src="../../admin/assets/vendor/js/template-customizer.js"></script>
    <script src="../../admin/assets/js/config.js"></script>
</head>

<body class="container mt-5">
    
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <li class="menu-item active open">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon tf-icons ri-shopping-bag-3-line'></i>
                            <div data-i18n="REDOLANCE">REDOLANCE</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/admin/dashboard" class="menu-link">
                                    <div data-i18n="Dashboard">Dashboard</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Products">Products</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/admin/productList" class="menu-link">
                                            <div data-i18n="Product List">Product List</div>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/admin/addProduct" class="menu-link">
                                            <div data-i18n="Add Product">Add Product</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Category">Category</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/admin/category" class="menu-link">
                                            <div data-i18n="List all category">List all category</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Users">Users</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/admin/userList" class="menu-link">
                                            <div data-i18n="Users list">Users list</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <div data-i18n="Orders">Orders</div>
                                </a>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/admin/orderList" class="menu-link">
                                            <div data-i18n="Order list">Order list</div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="menu-sub">
                                    <li class="menu-item">
                                        <a href="/admin/orderDetails" class="menu-link">
                                            <div data-i18n="Order Details">Order Details</div>
                                        </a>
                                    </li>
                                </ul>
                                <li class="menu-item">
                                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                                      <div data-i18n="Coupons Management">Coupons Management</div>
                                    </a>
                                    <ul class="menu-sub">
                                      <li class="menu-item">
                                        <a href="/admin/coupons" class="menu-link">
                                          <div data-i18n="Coupons">Coupons</div>
                                        </a>
                                      </li>
                                    </ul>
                                    <li class="menu-item active">
                                      <a href="javascript:void(0);" class="menu-link menu-toggle">
                                        <div data-i18n="Offers Management">Offers</div>
                                      </a>
                                      <ul class="menu-sub">
                                        <li class="menu-item active">
                                            <a href="/admin/productOffers" class="menu-link">
                                              <div data-i18n="Product Offers">Product Offers</div>
                                            </a>
                                          </li>
                                          <li class="menu-item">
                                            <a href="/admin/categoryOffers" class="menu-link">
                                              <div data-i18n="Category Offers">Category Offers</div>
                                            </a>
                                          </li>
                                          <li class="menu-item">
                                            <a href="/admin/referralOffers" class="menu-link">
                                              <div data-i18n="Referral Offers">Referral Offers</div>
                                            </a>
                                          </li>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                          <div data-i18n="Sales">Sales</div>
                        </a>
                        <ul class="menu-sub">
                          <li class="menu-item">
                            <a href="/admin/salesReport" class="menu-link">
                              <div data-i18n="SalesReport">SalesReport</div>
                            </a>
                          </li>
                        </li>
                </ul>
            </aside>
            <div class="layout-wrapper layout-content-navbar">
                <div class="layout-container">
                    <!-- Keep your existing sidebar -->
                    
                    <div class="layout-page">
                        <div class="container-xxl flex-grow-1 container-p-y">
                            <div class="app-ecommerce-category">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <h4 class="fw-bold mb-0">Product  Offers</h4>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOfferModal">
                                        <i class="ri-add-line me-1"></i> Add Offer
                                    </button>
                                </div>
        
                                <!-- Offers Table -->
                                <div class="card">
                                    <div class="card-datatable table-responsive">
                                        <table class="table border-top">
                                            <thead>
                                                <tr>
                                                    <th>Offer Title</th>
                                                    <th>Product</th>
                                                    <th>Discount</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Offers will be inserted here dynamically -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
        
                                <!-- Add Offer Modal -->
                                <div class="modal fade" id="addOfferModal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add New Offer</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form id="addOfferForm" class="needs-validation" novalidate>
                                                <div class="modal-body">
                                                    <div class="row g-3">
                                                        <div class="col-md-6 mb-3">
                                                            <input type="hidden" name="offerType" value="Product">
                                                            <label class="form-label">Offer Type</label>
                                                            <input type="text" class="form-control" value="Product Offer" readonly>
                                                          </div>
                                                        <div class="col-12">
                                                            <label class="form-label">Offer Title</label>
                                                            <input type="text" class="form-control" name="offerTitle" required>
                                                            <div class="invalid-feedback">Please enter offer title</div>
                                                        </div>
                                                        
                                                        <div class="col-12">
                                                            <label class="form-label">Offer Description</label>
                                                            <textarea class="form-control" name="offerDescription" required></textarea>
                                                            <div class="invalid-feedback">Please enter offer description</div>
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <label class="form-label">Discount Type</label>
                                                            <select class="form-select" name="discountType" required>
                                                                <option value="">Select Type</option>
                                                                <option value="percentage">Percentage</option>
                                                                <option value="flat">Flat</option>
                                                            </select>
                                                            <div class="invalid-feedback">Please select discount type</div>
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <label class="form-label">Discount Value</label>
                                                            <input type="number" class="form-control" name="discountValue" required>
                                                            <div class="invalid-feedback">Please enter discount value</div>
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <label class="form-label">Minimum Purchase Amount</label>
                                                            <input type="number" class="form-control" name="minPurchaseAmount" value="0">
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <label class="form-label">Applicable Product</label>
                                                            <select class="form-select" name="applicableProduct" required>
                                                                <option value="">Select Product</option>
                                                            </select>
                                                            <div class="invalid-feedback">Please select a product</div>
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <label class="form-label">Start Date</label>
                                                            <input type="date" class="form-control" name="startDate" required>
                                                            <div class="invalid-feedback">Please select start date</div>
                                                        </div>
        
                                                        <div class="col-md-6">
                                                            <label class="form-label">End Date</label>
                                                            <input type="date" class="form-control" name="expireDate" required>
                                                            <div class="invalid-feedback">Please select end date</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Save Offer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- / Layout wrapper -->



<!-- Core JS -->
<script src="../../admin/assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../admin/assets/vendor/libs/popper/popper.js"></script>
<script src="../../admin/assets/vendor/js/bootstrap.js"></script>
<script src="../../admin/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="../../admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../admin/assets/vendor/libs/hammer/hammer.js"></script>
<script src="../../admin/assets/vendor/libs/i18n/i18n.js"></script>
<script src="../../admin/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="../../admin/assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="../../admin/assets/vendor/libs/moment/moment.js"></script>
<script src="../../admin/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="../../admin/assets/vendor/libs/select2/select2.js"></script>
<script src="../../admin/assets/vendor/libs/%40form-validation/popular.js"></script>
<script src="../../admin/assets/vendor/libs/%40form-validation/bootstrap5.js"></script>
<script src="../../admin/assets/vendor/libs/%40form-validation/auto-focus.js"></script>
<script src="../../admin/assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="../../admin/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Main JS -->
<script src="../../admin/assets/js/main.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addOfferModal = document.getElementById('addOfferModal');
        const productSelect = document.querySelector('select[name="applicableProduct"]');
    
        // When modal is shown
        addOfferModal.addEventListener('show.bs.modal', function() {
            // Clear existing options
            productSelect.innerHTML = '<option value="">Select Product</option>';
            
            // Fetch products
            fetch('/admin/api/products')
                .then(response => response.json())
                .then(products => {
                    products.forEach(product => {
                        const option = document.createElement('option');
                        option.value = product._id;
                        option.textContent = product.name;
                        productSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error loading products:', error);
                    alert('Failed to load products');
                });
        });
    
        // Form submission handler
        document.getElementById('addOfferForm').addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = {
                offerTitle: this.offerTitle.value,
                offerDescription: this.offerDescription.value,
                discountType: this.discountType.value,
                discountValue: this.discountValue.value,
                minPurchaseAmount: this.minPurchaseAmount.value,
                applicableProduct: this.applicableProduct.value,
                startDate: this.startDate.value,
                expireDate: this.expireDate.value,
                offerType: 'product' 
            };
    
            fetch('/admin/api/offers', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => {
                if (!response.ok) throw new Error('Failed to create offer');
                return response.json();
            })
            .then(() => {
                // Close modal and refresh offers
                bootstrap.Modal.getInstance(addOfferModal).hide();
                location.reload(); // Or update table dynamically
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to create offer: ' + error.message);
            });
        });
    });
    

    // Edit offer function
function editOffer(id) {
    fetch(`/admin/api/offers/${id}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to load offer details');
            }
            return response.json();
        })
        .then(offer => {
            // Populate the form with the offer data
            const form = document.getElementById('addOfferForm');
            form.querySelector('[name="offerTitle"]').value = offer.offerTitle;
            form.querySelector('[name="offerDescription"]').value = offer.offerDescription;
            form.querySelector('[name="discountType"]').value = offer.discountType;
            form.querySelector('[name="discountValue"]').value = offer.discountValue;
            form.querySelector('[name="minPurchaseAmount"]').value = offer.minPurchaseAmount;
            form.querySelector('[name="applicableProduct"]').value = offer.applicableProduct._id;
            form.querySelector('[name="startDate"]').value = offer.startDate.split('T')[0]; // Assuming ISO format
            form.querySelector('[name="expireDate"]').value = offer.expireDate.split('T')[0]; // Assuming ISO format

            // Show the modal
            $('#addOfferModal').modal('show');
        })
        .catch(error => {   
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message || 'Failed to load offer details'
            });
        });
}

    // Delete offer function
function deleteOffer(id) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        customClass: {
            confirmButton: 'btn btn-danger me-3',
            cancelButton: 'btn btn-label-secondary'
        }
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`/admin/api/offers/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to delete offer');
                }
                return response.json();
            })
            .then(() => {
                $('.datatables-offers').DataTable().ajax.reload();
                Swal.fire('Deleted!', 'Offer has been deleted.', 'success');
            })
            .catch(error => {
                Swal.fire('Error!', error.message || 'Failed to delete offer.', 'error');
            });
        }
    });
}
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Fetch product offers
        fetch('/admin/api/product-offers')
            .then(response => response.json())
            .then(offers => {
                const tableBody = document.querySelector('.datatables-offers tbody');
                
                offers.forEach(offer => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${offer.offerTitle}</td>
                        <td>${offer.applicableProduct?.name || 'N/A'}</td>
                        <td>${offer.discountType === 'percentage' ? offer.discountValue + '%' : '₹' + offer.discountValue}</td>
                        <td>${new Date(offer.startDate).toLocaleDateString()}</td>
                        <td>${new Date(offer.expireDate).toLocaleDateString()}</td>
                        <td>
                            <span class="badge ${getStatusBadge(offer.status)}">
                                ${offer.status}
                            </span>
                        </td>
                        <td>
                            <div class="d-inline-block">
                                <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="ri-more-fill"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="editOffer('${offer._id}')">
                                        <i class="ri-pencil-line me-1"></i> Edit
                                    </a>
                                    <a class="dropdown-item text-danger" href="javascript:void(0);" onclick="deleteOffer('${offer._id}')">
                                        <i class="ri-delete-bin-line me-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching offers:', error));

        // Status badge styling
        function getStatusBadge(status) {
            const statusMap = {
                active: 'bg-success',
                expired: 'bg-danger',
                upcoming: 'bg-warning'
            };
            return statusMap[status] || 'bg-secondary';
        }

        // Load products into select
        fetch('/admin/products') // Make sure this route exists
            .then(response => response.json())
            .then(products => {
                const select = document.querySelector('select[name="applicableProduct"]');
                products.forEach(product => {
                    const option = document.createElement('option');
                    option.value = product._id;
                    option.textContent = product.name;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error loading products:', error));
    });

    // Rest of your form submission and other functions remain the same
</script>

<script>
document.getElementById('offerType').addEventListener('change', function() {
    const type = this.value;
    document.getElementById('productField').classList.toggle('d-none', type !== 'product');
    document.getElementById('categoryField').classList.toggle('d-none', type !== 'category');
    
    // Toggle required attributes
    document.querySelector('[name="applicableProduct"]').required = type === 'product';
    document.querySelector('[name="applicableCategory"]').required = type === 'category';
});

// When modal is shown, fetch both products and categories
addOfferModal.addEventListener('show.bs.modal', function() {
    // Fetch products
    fetch('/admin/api/products')
        .then(response => response.json())
        .then(products => {
            const productSelect = document.querySelector('select[name="applicableProduct"]');
            productSelect.innerHTML = '<option value="">Select Product</option>';
            products.forEach(product => {
                const option = document.createElement('option');
                option.value = product._id;
                option.textContent = product.name;
                productSelect.appendChild(option);
            });
        });

    // Fetch categories
    fetch('/admin/api/categories')
        .then(response => response.json())
        .then(categories => {
            const categorySelect = document.querySelector('select[name="applicableCategory"]');
            categorySelect.innerHTML = '<option value="">Select Category</option>';
            categories.forEach(category => {
                const option = document.createElement('option');
                option.value = category._id;
                option.textContent = category.name;
                categorySelect.appendChild(option);
            });
        });
});

// Update form submission handler
document.getElementById('addOfferForm').addEventListener('submit', function(e) {
    e.preventDefault();
    
    const formData = {
        offerTitle: this.offerTitle.value,
        offerDescription: this.offerDescription.value,
        discountType: this.discountType.value,
        discountValue: this.discountValue.value,
        minPurchaseAmount: this.minPurchaseAmount.value,
        offerType: this.offerType.value,
        startDate: this.startDate.value,
        expireDate: this.expireDate.value
    };

    // Add applicableProduct or applicableCategory based on type
    if (formData.offerType === 'product') {
        formData.applicableProduct = this.applicableProduct.value;
    } else {
        formData.applicableCategory = this.applicableCategory.value;
    }

    fetch('/admin/api/offers', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(formData)
    })
    .then(() => {
        bootstrap.Modal.getInstance(addOfferModal).hide();
        location.reload();
    });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Fetch product offers
        fetch('/admin/api/product-offers')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.querySelector('.table tbody');
                tableBody.innerHTML = ''; // Clear existing rows

                data.forEach(offer => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${offer.offerTitle}</td>
                        <td>${offer.applicableProduct?.name || 'N/A'}</td>
                        <td>${offer.discountType === 'percentage' ? offer.discountValue + '%' : '₹' + offer.discountValue}</td>
                        <td>${new Date(offer.startDate).toLocaleDateString()}</td>
                        <td>${new Date(offer.expireDate).toLocaleDateString()}</td>
                        <td>
                            <span class="badge ${getStatusBadge(offer.status)}">
                                ${offer.status}
                            </span>
                        </td>
                        <td>
                            <div class="d-inline-block">
                                <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="ri-more-fill"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="editOffer('${offer._id}')">
                                        <i class="ri-pencil-line me-1"></i> Edit
                                    </a>
                                    <a class="dropdown-item text-danger" href="javascript:void(0);" onclick="deleteOffer('${offer._id}')">
                                        <i class="ri-delete-bin-line me-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching offers:', error));

        // Function to get status badge class
        function getStatusBadge(status) {
            const statusMap = {
                active: 'bg-success',
                expired: 'bg-danger',
                upcoming: 'bg-warning'
            };
            return statusMap[status] || 'bg-secondary';
        }
    });
</script>

</body>
</html>